<!DOCTYPE html>
<html>
<head>
    <title>Energy Production</title>
</head>
<body>
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'energy:chart' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-info right" href="{% url 'energy:chart' %}?{{ next_month }}"> Next Month </a>
</div>
<canvas id="myChart" width="800" height="400"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for item in labels %}"{{ item }}",{% endfor %}],
            datasets: [{
                label: "Energy Production",
                data: [{% for item in values %}{{ item }}, {% endfor %}],
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

</body>
</html>