<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}DBSK Database{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dbsk/astyle.css' %}">
    {% block headstuff %}
    {% endblock %}
</head>

<body>
<h2 class="center">Christ's Lutheran Church - Daily Bread Soup Kitchen</h2>

<div id="sidebar">
    {% block sidebar %}

    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
