{% extends "dbsk/base.html" %}

{% block sidebar %}{% endblock %}

{% block content %}

    <b>Add a donation for:
    </b>
    <br>{{ donor }}
    <br>{{ donor.addr1 }}
    {% if donor.addr2 %} <br>{{ donor.addr2 }} {% endif %}
    <br>{{ donor.city }}, {{ donor.state }} {{ donor.zip }}
    <p>

        {% if donations %}
            <b>Prior donations:</b>
            <ul>
                {% for donation in donations %}
                    <li>{{ donation }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>
    <form method="POST" class="form-horizontal">{% csrf_token %}

        <input type="submit" value="Submit">
        <a href="{% url 'dbsk:donate_list' %}">Cancel</a>
        <table border="1" class="table table-condensed">

            {{ form }}
        </table>

    </form>

    {% if object.pk %}
        <form method="GET" action="{% url 'dbsk:donation_delete' object.pk %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-sm btn-danger" value="delete"></input>
        </form>
    {% endif %}

{% endblock %}