{% extends "dbsk/base.html" %}

{% block sidebar %}{% endblock %}
{% block content %}
    <a href="{% url 'dbsk:donation_menu' %}">Return to donation menu</a>
    <h2>How to process donations</h2>
    <h3>Getting organized...</h3>
    <p>
        Donations will be in the DBSK cubby or a bin on the top of the cubbies.
    </p>
    <p>
        Supplies are in the filing cabinet by the office door:
    <ul>
        <li>DBSK envelopes</li>
        <li>DBSK "thank you" letters - also PDF on Church one-drive, DBSK folder</li>
        <li>Stamps</li>
        <li>Bank stamp</li>
        <li>DBSK checks in folder - use deposit slips at end of checks</li>
    </ul>
    </p>
    <h3>If there are just a few...</h3>

    <p>
        If there is a modest number of donations, like 1 to 20, it is probably easiest to do this with one person.
    </p>
    <p>
        Click on the link "Add a donation". In the "Name:" box, start typing the last name of the donor.
        A list of names will magically appear. Usually only one or two letters are needed to find someone
        who has donated before. If you find the name, click on it to bring up a screen to input donation
        information. Enter the donation information and click "Submit".
    </p>
    <p>
        If the name does not appear, click on "Add Donor" and input the relevant information, then click "Submit".
        You should then be able to type part of the name and bring it up in the list.
    </p>
    <p>
        When you are done entering donations, return to the main menu and click on
        "Process a batch of donations".
        This should show a list of the donors with addresses, how much each gave
        and a total on the bottom.
        Print this from the web browser. (Use ctrl+p)
    </p>
    <p>
        For each donation, fill out a "thank you letter" and put it in an
        envelope addressed to the donor.
    </p>
    <p>
        Stamp the back of each check with the DBSK stamp.
    </p>
    <p>
        Make out a deposit slip. Just put on the total of the deposit.
        <br>
        Take the checks and deposit slip to Ulster Savings.
        If the bank is closed, use a night deposit bag.
        If the bank is open, deposit at the counter and get a deposit receipt.
        Staple the receipt to the donation list from above and put it in the DBSK cubby.
    </p>
    <h3>If there are large number...</h3>
    <p>
        It works well to have 3 people.
    </p>
    <ul>
        <li>Use the paper cutter to cut off the end of the envelopes</li>
        <li>Person A takes a check out of the envelope and records it as above.
            Pass the check and the envelope to person B.
            When about 20 donations have been received, process the batch to
            get a list of the donations and the total.
        </li>
        <li>Person B fills out a "thank you" letter and passes the letter, check
            and envelope to person C.
        </li>
        <li>Person C addresses the envelope, puts in the "thank you" letter
            and puts a stamp on the envelope.
            When the last donation in the batch is processed, use the bank stamp
            on each check and make out the deposit slip.
            Make sure the checks match the printed batch list.
            Clip the checks and deposit slip together.
        </li>
        </eul>
{% endblock %}