{% extends "clc/base.html" %}

{% block sidebar %}{% endblock %}

{% block content %}

    <h1>Addresses</h1>

    <form method="GET" action="{% url 'clc:address_list' %}">
        {% csrf_token %}
        <p><label for="name_filter">List last name starts with:</label> <input type="text" value="{{ name_filter }}"
                                                                               name="name_filter" maxlength="40"
                                                                               id="id_city"></p>
        <input type="submit" class="btn btn-sm btn-danger" value="refresh"></input>
    </form>


    {% if object_list %}
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
            </tr>
            {% for v in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'clc:address_update' v.pk %}">
                            {{ v.id }}
                        </a>
                    <td>{{ v.address_type }}</td>
                    <td>
                        <a href="{% url 'clc:address_update' v.pk %}">
                            {{ v.firstname }} {{ v.lastname }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No addresses are available.</p>
    {% endif %}
{% endblock %}