{% extends "riverby/base.html" %}

{% block sidebar %}{% endblock %}

{% block content %}
    <h1>{% include "home/create_update.html" %}address </h1>

    <a href="{% url 'riverby:address_list' %}">Cancel</a>


    <form method="post">{% csrf_token %}
        <input type="submit" value="Save">
        <table>
            {{ form.as_table }}
        </table>
    </form>

    {% if object.pk %}
        <form method="GET" action="{% url 'riverby:address_new_owner' object.pk %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-sm btn-danger" value="New Owner"></input>
        </form>
    {% endif %}

    {% if object.pk %}
        <form method="GET" action="{% url 'riverby:address_delete' object.pk %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-sm btn-danger" value="Delete"></input>
        </form>
    {% endif %}

{% endblock %}