{% extends "riverby/base.html" %}

{% block sidebar %}{% endblock %}

{% block content %}

    <a href="{% url 'riverby:address_create' %}">Create a new address</a>

    {% if object_list %}
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Road</t
            </tr>
            <th>E-mail</th>
            <th>Phone</th>
            {% for addr in object_list %}
                <tr>
                    <td>{{ addr.id }}</td>
                    <td>{{ addr.addr_name1 }}</td>
                    <td><a href="{% url 'riverby:address_update' addr.pk %}">{{ addr.fire_num }}
                        {{ addr.rd_section }}</a></td>
                    <td>{{ addr.e_mail }}</td>
                    <td>{{ addr.phone1 }}</td>
                    <td><a href="{% url 'riverby:address_new_owner' addr.pk %}">New Owner</a></td>
                </tr>
            {% endfor %}
        </table
    {% else %}
        <p>No addresses are available.</p>
    {% endif %}

{% endblock %}